<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
html {
  background: rgb(64, 86, 95);
  --letraAzulClaro: rgb(182, 206, 229);
  --letraAzulClaroli: rgb(111, 141, 170);
  --letraAzulOscuro: rgb(0, 11, 15);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--letraAzulClaro);
}
li {
  list-style: none;
  width: 18rem;
  margin: 1rem;
}
ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
</style>
