* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(172, 128, 255);
}

header h1 {
  text-align: center;
  padding: 2rem;
}

header h1 a {
  font-size: 3rem;
  text-decoration: none;
  color: yellow;
}
/*//////////////////////////////////////////////*/
.formulario {
  text-align: center;
  padding: 3rem;
  height: 100vh;
  background-color: rgb(197, 179, 216);
}

form fieldset {
  border: none;
}

form fieldset input {
  font-size: 1.5rem;
}

form fieldset label {
  font-size: 1.5rem;
}

form button {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 0 1rem;
}
/* ////////////////////////////////////////////// */

.error {
  text-align: center;
  font-size: 1.5rem;
  height: 90vh;
  background-color: yellow;
}

.error p {
  padding: 1rem;
}

.error a {
  text-decoration: none;
}

/*/////////////////////////////////////////////////*/
.resultados {
  text-align: center;
  background-color: rgb(247, 238, 199);
  height: 90vh;
}

.resultados ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center left;
}

.resultados ul li {
  margin: 1rem;
}

.resultados ul li a {
  text-decoration: none;
  font-size: 1.5rem;
}

/*/////////////////////////////////////////////////////*/

.pokemonCard {
  text-align: center;
  background-color: #eeb0df;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center center;
  height: 90vh;
  padding-bottom: 10rem;
}

.pokemonCard h1 {
  font-size: 2rem;
  font-weight: bold;
}

.pokemonCard ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemonCard ul li {
  font-size: 1.5rem;
  margin: 1rem;
}
