<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
/* Importamos fuente para muchas zonas del proyecto y definimos colores generales */
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700&display=swap");
html {
  background: rgb(15, 17, 10);
}
#app {
  font-family: "Turret Road", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(132, 214, 24);
}
</style>
