<template>
  <div id="app">
    <!-- Creamos elementos comunes a todas las vistas del proyecto -->
    <div id="nav">
      <router-link to="/">Home</router-link>|
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
/* Hacemos cambios en el CSS que afecta a todas las páginas del sitio */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: black;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #c8dd5d;
}

#nav a.router-link-exact-active {
  color: #12b0c9;
}
</style>
