* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(255, 170, 91);
}

#formulario {
  background-color: white;
  margin-bottom: 5rem;
}

body > header {
  min-height: 500px;
  background-image: url(/img/vaca-cabecera.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
}

body > header > nav:first-of-type {
  order: -1;
}

body > header > nav > ul li {
  display: inline;
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

body > header h1 {
  color: white;
  font-size: 7rem;
  padding-right: 3rem;
}

body > header > nav:last-of-type a {
  background-color: black;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0.5rem;
}

section#principal {
  padding: 2rem;
}

section#principal > h2 {
  padding: 3rem 0 1rem 0;
  font-size: 5rem;
  color: white;
}

section#principal > p {
  font-size: 0.8rem;
  padding: 1rem 0;
}

section#compras {
  margin: 4rem 0;
}
section#compras ul li article {
  display: flex;
  flex-direction: column;
  background: black;
  margin: 1rem 0;
}

section#compras ul li#vaca1 article header {
  background-image: url(/img/vaca1.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  min-height: 600px;
}

section#compras ul li#vaca2 article header {
  background-image: url(/img/vaca2.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  min-height: 600px;
}

section#compras ul li#vaca3 article header {
  background-image: url(/img/vaca3.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  min-height: 600px;
}

section#compras ul li article section h2 {
  color: white;
  text-align: center;
  font-size: 5rem;
  padding-top: 2rem;
}

section#compras ul li article section p {
  color: white;
  font-size: 0.8rem;
  padding: 3rem 2rem;
}

section#compras ul li article footer {
  background-color: lightgrey;
  text-align: center;
  padding: 1rem 0;
}

section#formulario > header h2 {
  color: rgb(255, 170, 91);
  max-width: 70%;
  font-size: 3rem;
  padding: 2rem;
}

section#formulario form ul li {
  margin: 1rem;
}

section#formulario form ul li fieldset {
  border: none;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

section#formulario form ul li input {
  font-size: 2rem;
  background-color: rgb(255, 170, 91);
  width: 100%;
}

section#formulario form ul li textarea {
  font-size: 2rem;
  background-color: rgb(255, 170, 91);
  width: 100%;
}

section#formulario form ul {
  display: flex;
  flex-wrap: wrap;
}

section#formulario form ul li {
  flex-basis: calc(50%-1rem);
}

section#formulario form ul li#comentarios {
  flex-basis: 100%;
}

section#formulario form ul li#comentarios textarea {
  min-height: 6rem;
}

section#formulario form ul li .checkbox {
  display: initial;
  width: initial;
  font-size: 2rem;
  font-weight: bold;
}

section#formulario form button {
  background-color: black;
  color: white;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 700px) {
  section#principal > p {
    font-size: 1.8rem;
  }

  section#compras ul li article section p {
    color: white;
    font-size: 1.8rem;
    padding: 3rem 2rem;
  }
}

@media (min-width: 1000px) {
  section#compras ul {
    display: flex;
    flex-wrap: wrap;
  }

  section#compras ul li {
    margin: 0.5rem;
    flex-basis: 31%;
  }

  section#principal > p {
    font-size: 2.2rem;
  }

  section#compras ul li article section p {
    color: white;
    font-size: 2.2rem;
    padding: 3rem 2rem;
    min-height: 500px;
  }
}
