@import url("https://fonts.googleapis.com/css?family=Asap+Condensed:400,700|Mukta:400,700|Work+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(255, 170, 91);
  font-family: "Mukta", "Asap Condensed", sans-serif;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 400px auto auto auto;
  grid-template-areas:
    "header header header"
    "principal principal principal"
    "compras compras compras"
    "formulario formulario formulario";
}
/* HEADER */
body > header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "secciones h1 tienda";
  background-image: url(/img/vaca-cabecera.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 400px;
  min-height: 200px;
}

body > header > h1 {
  grid-area: h1;
  color: white;
  font-size: 6rem;
  text-align: right;
  font-family: "Work Sans", sans-serif;
}

body > header > nav#secciones {
  grid-area: secciones;
}

body > header > nav#secciones > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 4rem;
}

nav#secciones li > a {
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}

body > header > nav#tienda {
  grid-area: tienda;
  text-align: right;
  font-weight: bold;
  padding: 3rem 2rem 0 0;
  font-size: 2rem;
}

body > header > nav#tienda > a {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
}

/* PRINCIPAL */
body > section#principal {
  grid-area: principal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "h2 h2"
    "p1 p1"
    "p2 p2"
    "p3 p3";
  padding: 1rem;
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

body > section#principal h2 {
  grid-area: h2;
  color: white;
  font-size: 6rem;
}

body > section#principal p#p1 {
  grid-area: p1;
}

body > section#principal p#p2 {
  grid-area: p2;
}

body > section#principal p#p3 {
  grid-area: p3;
}

body > section#principal p {
  font-size: 0.8rem;
}

/* COMPRAS */
body > section#compras {
  grid-area: compras;
}

section#compras > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "v1 v1 v1"
    "v2 v2 v2"
    "v3 v3 v3";
}

section#compras > ul article#v1 {
  grid-area: v1;
}

section#compras > ul article#v2 {
  grid-area: v2;
}

section#compras > ul article#v3 {
  grid-area: v3;
}

section#compras ul article li header {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#compras ul article li#vaca1 header {
  background-image: url(/img/vaca1.jpg);
}

section#compras ul article li#vaca2 header {
  background-image: url(/img/vaca2.jpg);
}

section#compras ul article li#vaca3 header {
  background-image: url(/img/vaca3.jpg);
}

section#compras section {
  background-color: black;
}

section#compras section > h2 {
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: "Work Sans", sans-serif;
  padding-top: 3rem;
}

section#compras section > p {
  color: white;
  padding: 2rem 3rem;
  font-size: 0.8rem;
}

section#compras footer {
  background-color: lightgrey;
  text-align: center;
  padding: 2rem;
}

/* FORMULARIO */
body > section#formulario {
  grid-area: formulario;
  background-color: white;
  padding: 2rem;
  margin: 4rem 0;
}

section#formulario h2 {
  color: rgb(255, 170, 91);
  max-width: 70%;
  font-size: 2rem;
}

section#formulario form ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "nombre nombre"
    "direccion direccion"
    "provincia provincia"
    "comentarios comentarios"
    "newsletter newsletter";
}

section#formulario form ul li fieldset {
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
}

section#formulario form ul li input {
  background-color: rgb(255, 170, 91);
  width: 95%;
  font-size: 2rem;
  border: 2px solid black;
}

section#formulario form ul li textarea {
  background-color: rgb(255, 170, 91);
  width: 95%;
  font-size: 2rem;
  min-height: 100px;
  border: 2px solid black;
}

section#formulario form ul li#nom {
  grid-area: nombre;
}

section#formulario form ul li#dir {
  grid-area: direccion;
}

section#formulario form ul li#prov {
  grid-area: provincia;
}

section#formulario form ul li#com {
  grid-area: comentarios;
}

section#formulario form ul li#check {
  grid-area: newsletter;
}

section#formulario form ul li .checkbox {
  grid: initial;
  width: initial;
  font-size: 2rem;
  font-weight: bold;
}

section#formulario form button {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

@media (min-width: 600px) {
  body > section#principal p {
    font-size: 1rem;
  }

  section#compras section > p {
    font-size: 1rem;
  }

  section#compras section > h2 {
    font-size: 3rem;
  }
}

@media (min-width: 770px) {
  nav#secciones li > a {
    font-size: 0.95rem;
  }

  body > section#principal {
    grid-template-areas:
      "h2 ."
      "p1 p3"
      "p1 p3"
      "p2 p3";
  }

  body > section#principal h2 {
    font-size: 3rem;
  }

  body > section#principal p {
    font-size: 1.3rem;
  }

  section#compras section > p {
    font-size: 1.3rem;
  }

  section#compras > ul {
    grid-template-areas:
      "v1 v2 v3"
      "v1 v2 v3"
      "v1 v2 v3";
  }

  section#compras section {
    height: 600px;
    overflow-y: scroll;
  }

  section#formulario form ul {
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "nombre direccion"
      "provincia ."
      "comentarios comentarios"
      "newsletter newsletter";
  }
}
