<template>
  <div class="card">
    <!-- Definimos y creamos los elementos de este componente -->
    <!-- Recorremos un array con v-for del que sacamos los datos que necesitamos  -->
    <div class="char" v-for="char in chars" :key="char.id">
      <h2>{{ char.name }}</h2>
      <img :src="char.image" alt="Imagen de un personaje de la serie" />
      <ul>
        <li>id: {{char.id}}</li>
        <!-- Convertimos la clase de un elemento en dinamica usando v-bind: (o solo : como en este caso), permitiendonos dar diferentes valores 
        a la clase en funcion de los criterios que establecemos dentro de las llaves-->
        <li
          :class="{green: char.status ==='Alive', red:char.status==='Dead', unknown: char.status!=='Alive' && char.status!=='Dead'}"
        >{{char.status}}</li>
        <li>{{char.species}}</li>
        <li>{{char.gender}}</li>
        <li>Or: {{char.origin.name}}</li>
        <li>Loc: {{char.location.name}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  /* Asignamos nombre al componente para su exportacion */
  name: "CharCard",
  /* Definimos en props las variables y su tipo que recibimos de fuera del componente y que vamos a usar  */
  props: {
    chars: Array
  }
};
</script>

<style scoped>
/* Definimos el css a utilizar en los elemnentos propios de este componente, incluidas las clases que queremos asignar dinamicamente
a los elementos en los que hayamos usado v-bind: */
.red {
  color: red;
  text-decoration: line-through;
}
.unknown {
  color: red;
}
.green {
  color: #c8dd5d;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.char {
  width: 18rem;
  margin: 0.5rem;
  background-color: #12b0c9;
  border: 2px solid black;
  display: grid;
  grid-template-areas:
    "data img"
    "name name";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 0.5fr;
}
.char h2 {
  grid-area: name;
  margin: 0;
  padding: 0.5rem;
  color: #c8dd5d;
  background-color: black;
  font-size: 1rem;
}

.char ul {
  grid-area: data;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.char ul li {
  font-size: 0.9rem;
  margin: 0.4rem;
}

.char img {
  grid-area: img;
  width: 7rem;
  height: 9rem;
  border-radius: 50%;
}
</style>
