<template>
  <div>
    <!-- Creamos los elementos propio de este componente -->
    <p>Félix Villar - Hack a boss - Mayo 2020 (C)</p>
  </div>
</template>

<script>
export default {
  /* Asignamos nombre al componente para su exportacion */
  name: "FooterCustom"
};
</script>

<style scoped>
/* Zona reservada para el css que se quiera implementa a los elementos propios de este componente */
</style>
