<template>
  <div>
    <!-- FORMULARIO -->
    <div>
      <!-- <p v-show="required">Tienes datos aun por rellenar</p> -->
      <!-- NOMBRE -->
      <label for="nombre">Nombre</label>
      <br />
      <input type="text" name="nombre" placeholder="Nombre del cliente" v-model="newClient.nombre" />
      <br />
      <br />
      <!-- APELLIDO -->
      <label for="apellido">Apellido</label>
      <br />
      <input
        type="text"
        name="apellido"
        placeholder="Apellido del cliente"
        v-model="newClient.apellido"
      />
      <br />
      <br />
      <!-- CIUDAD -->
      <label for="ciudad">Ciudad</label>
      <br />
      <input type="text" name="ciudad" placeholder="Ciudad del cliente" v-model="newClient.ciudad" />
      <br />
      <br />
      <!-- EMPRESA -->
      <label for="empresa">Empresa</label>
      <br />
      <input
        type="text"
        name="empresa"
        placeholder="Empresa del cliente"
        v-model="newClient.empresa"
      />
      <br />
      <br />
      <!-- BOTON -->
      <button @click="addClientEvent(newClient)">CREAR</button>
    </div>
    <!-- FORMULARIO -->
  </div>
</template>

<script>
export default {
  name: "addnewclient",
  props: {
    newClient: Object
  },

  methods: {
    addClientEvent(newClient) {
      this.$emit("nuevocliente", newClient);
    }
  }
};
</script>

<style scoped></style>
