<template>
  <div>
    <ul>
      <li v-for="(cliente, index) in clientes" :key="cliente.id">
        <p>{{ cliente.nombre }}</p>
        <p>{{ cliente.apellido }}</p>
        <button @click="editClientEvent(index)">Editar</button>
        <p>{{ cliente.ciudad }}</p>
        <p>{{ cliente.empresa }}</p>
        <button @click="borrarEvent(index)">Borrar</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "clientslist",
  props: {
    clientes: Array
  },
  methods: {
    editClientEvent(index) {
      let data = this.clientes[index];
      this.$emit("editar", data);
    },
    borrarEvent(index) {
      let data = this.clientes[index].id;
      this.$emit("borrar", data);
    }
  }
};
</script>


<style scoped>
ul {
  padding: 0;
}
li {
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr auto;
  border: 1px solid var(--letraAzulClaroli);
  border-radius: 10%;
}

button {
  margin: 1rem;
  max-height: 20px;
  max-width: 50px;
  justify-self: center;
}
</style>
