<template>
  <div>
    <ul>
      <li v-for="item in listado" :key="item.id">
        <p v-for="(clave, index) in Object.keys(item)" :key="clave.id">
          {{ clave }}: {{ Object.values(item)[index] }};
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "listardebbdd",
  /* data(){
    return{
      claveslistado=[],
      valoreslistado=[],
    }
  }, */
  props: {
    listado: Array,
  },
};
</script>

<style scoped></style>
