<template>
  <div>
    <div id="nav">
      <router-link v-show="!isLogged()" :to="{ name: 'Login' }">Login</router-link>
      <router-link v-show="isLogged()" :to="{ name: 'Productos' }">Productos</router-link>
      <router-link v-show="isAdmin()" :to="{ name: 'Clientes' }">Clientes</router-link>
      <router-link v-show="isAdmin()" :to="{ name: 'AddClients' }">Añadir Cliente</router-link>
      <router-link v-show="!isLogged()" :to="{ name: 'Register' }">Register</router-link>
      <router-link v-show="isLogged()" :to="{ name: 'About' }">About</router-link>
      <button v-show="isLogged()" @click="logoutUser()">Logout</button>
    </div>
    <div id="saludo" v-show="isLogged()">
      <h3>Bienvenido {{ mail }}</h3>
      <p>Tu rol es {{ rol }}</p>
    </div>
  </div>
</template>

<script>
import { clearLogin } from "../api/utils";
import { isLoggedIn } from "../api/utils";
import { checkAdmin } from "../api/utils";
import { getEmail } from "../api/utils";
export default {
  name: "menucustom",
  data() {
    return {
      rol: "User",
      mail: ""
    };
  },
  methods: {
    logoutUser() {
      this.$router.push("/");
      return clearLogin();
    },
    isLogged() {
      return isLoggedIn();
    },
    isAdmin() {
      return checkAdmin();
    },
    checkRole() {
      if (this.isAdmin()) {
        this.rol = "Admin";
      }
    },
    getEmailUser() {
      this.mail = getEmail();
    }
  },
  created() {
    this.getEmailUser();
    this.checkRole();
  }
};
</script>

<style scoped>
#nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

#nav a {
  font-weight: bold;
  color: var(--letra);
  padding: 1rem 0.5rem;
  font-size: 0.5rem;
}

#nav a.router-link-exact-active {
  color: var(--letraAzulOscuro);
}

#nav button {
  border: none;
  background: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: var(--letra);
}

#saludo {
  color: var(--letraAzulOscuro);
}

#saludo h3 {
  margin: 0 auto;
  padding: 0;
}
#saludo p {
  margin: 0 auto 2rem 0;
  padding: 0;
}

@media (min-width: 350px) {
  #nav a {
    font-size: 0.6rem;
  }
}

@media (min-width: 500px) {
  #nav a {
    font-size: 1rem;
  }

  #nav button {
    font-size: 1rem;
  }
}
</style>
