<template>
  <div>
    <ul>
      <li v-for="producto in productos" :key="producto.id">
        <p>{{ producto.nombre }}</p>
        <img :src="producto.img" alt="foto producto" />
        <p>{{ producto.descripcion }}</p>
        <p
          :class="{
            green: producto.estado === 'Disponible',
            red: producto.estado === 'No disponible',
          }"
          class="cantidad"
        >{{ producto.estado }}</p>
        <p
          class="cantidad"
          v-show="producto.estado !== 'No disponible'"
        >Unidades {{ producto.stock }}</p>
        <p id="precio">{{ producto.precio }},00€</p>
        <button @click="comprarEvent" v-show="producto.estado !== 'No disponible'">Comprar</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "productlist",
  props: {
    productos: Array
  },
  methods: {
    comprarEvent() {
      this.$emit("comprar");
    }
  }
};
</script>

<style scoped>
.red {
  color: rgb(245, 119, 119);
  font-size: 0.8rem;
}
.green {
  color: rgb(88, 173, 88);
  font-size: 0.8rem;
}

img {
  max-width: 200px;
  max-height: 200px;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  margin: 1rem auto;
  border: 1px solid var(--letraAzulClaroli);
  border-radius: 10%;
}

li p {
  margin: 0.4rem;
}

.cantidad {
  width: 40%;
  display: inline-block;
}

#precio {
  width: 40%;
  display: inline-block;
}
</style>
