* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

body > header {
  text-align: center;
  padding: 1.5rem;
  background-color: #ccab5a;
  color: #54505e;
}

body header h1 {
  font-size: 2.5rem;
}

article {
  height: 25rem;
}

form {
  height: 22rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

form > fieldset {
  align-self: center;
  text-align: center;
  border: none;
  width: 100%;
}

form > fieldset > legend {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
}

form > fieldset > input {
  text-align: center;
  font-size: 1rem;
  width: 30%;
}

form > input {
  align-self: center;
  text-align: center;
  font-size: 1rem;
  width: 47%;
  margin: 0 0.2rem;
}

#calcular {
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (min-width: 400px) {
  article {
    height: 30rem;
  }

  form {
    height: 27rem;
  }

  body main > h3 {
    font-size: 1.5rem;
  }
}

@media (min-height: 700px) {
  article {
    height: 35rem;
  }

  form {
    height: 32rem;
  }
}

@media (min-width: 700px) {
  article {
    height: 35rem;
  }

  form {
    height: 32rem;
  }
  body header h1 {
    font-size: 4rem;
  }

  form > fieldset > legend {
    font-size: 3rem;
    padding: 3rem 3rem 1rem 3rem;
  }

  form > fieldset > input {
    font-size: 2.5rem;
    margin: 1rem;
  }

  form > input {
    align-self: flex-end;
    font-size: 2rem;
    width: 40%;
    margin: 1rem;
  }

  #calcular {
    align-self: flex-end;
    width: 150px;
    height: 150px;
  }

  body main > h3 {
    font-size: 3rem;
  }
}
