body > header {
  background-image: url(/img/vaca-cabecera.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 350px;
  margin: 0;
}

ul li {
  list-style: none;
}

header h1 {
  color: white;
  text-align: center;
}

header nav#secciones a {
  background-color: yellow;
  text-align: center;
  padding: 0.5rem;
}

body > header nav#boton-comprar a button {
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: small;
}

article#principal {
  /*  background-color: rgb(255, 178, 91); */
  margin: -2.5rem 0 0 0;
}

body {
  background-color: rgb(255, 170, 91);
}

article#principal > header h2 {
  color: white;
  text-align: left;
  font-size: 3rem;
  padding: 2rem 0 0.5rem 0.5rem;
  margin: 2rem 0 0 0;
}

section#descripcion p {
  max-width: 45%;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

li.vacas-compras {
  background-color: black;
  max-width: 30%;
  margin: 0.2rem;
}

li.vacas-compras h2 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin: 0.1rem;
}

li.vacas-compras p {
  color: white;
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
}

li#vaca1 header {
  background-image: url(/img/vaca1.jpg);
  min-height: 200px;
  background-repeat: no-repeat;
  background-position-x: center;
}

li#vaca2 header {
  background-image: url(/img/vaca2.jpg);
  min-height: 200px;
  background-repeat: no-repeat;
  background-position-x: center;
}

li#vaca3 header {
  background-image: url(/img/vaca3.jpg);
  min-height: 200px;
  background-repeat: no-repeat;
  background-position-x: center;
}

section#opciones-compra footer nav a button {
  width: 100%;
  text-align: center;
  padding: 0.4rem 1rem;
  font-size: 0.6rem;
  font-weight: bold;
}

section#formulario {
  background-color: white;
}

section#formulario header h2 {
  color: rgb(255, 170, 91);
  font-size: 2rem;
  font-weight: 550;
  max-width: 70%;
  padding: 1rem;
}

section#formulario form ul li label {
  font-size: 0.7rem;
  font-weight: bold;
  display: block;
  margin: 0.5rem;
}

section#formulario form ul li input {
  background-color: rgb(255, 170, 91);
  width: 45%;
}

section#formulario form ul li .checkbox {
  display: initial;
  width: initial;
}

section#formulario form ul li textarea {
  background-color: rgb(255, 170, 91);
  width: 95%;
}

section#formulario form button {
  color: white;
  background: black;
  margin: 0 0 2rem 1rem;
  padding: 0.3rem 2rem;
  font-size: 0.6rem;
}
