* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(255, 170, 91);
}

body > header {
  min-height: 500px;
  background-image: url(/img/vaca-cabecera.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 2rem;
}

body > header h1 {
  text-align: center;
  padding-top: 1rem;
  padding-right: 3rem;
  color: white;
  font-weight: bold;
  font-size: 6rem;
}

header nav#secciones {
  order: -1;
}

header nav#secciones ul li {
  display: inline;
  padding: 0 0.5rem;
}

header nav#secciones ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

header nav#boton-comprar button {
  font-size: 1.8rem;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
}

main article#principal {
  padding: 2rem 1.5rem;
}

main article#principal > header h2 {
  padding: 1rem 0 2rem 0;
  color: white;
  font-size: 5rem;
}

section#opciones-compra {
  margin: 4rem 0;
  font-size: bold;
}
ul > article {
  background-color: black;
  color: white;
  margin: 1rem 1rem;
}

ul > article li header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 500px;
}

ul > article li#vaca1 header {
  background-image: url(/img/vaca1.jpg);
}

ul > article li#vaca2 header {
  background-image: url(/img/vaca2.jpg);
}

ul > article li#vaca3 header {
  background-image: url(/img/vaca3.jpg);
}

ul > article li h2 {
  text-align: center;
  font-size: 6rem;
  padding-top: 3rem;
}

ul > article li p {
  padding: 5rem 2rem;
}

ul > article li footer nav a button {
  width: 100%;
  height: 6rem;
  font-size: 2.5rem;
  font-weight: bold;
}

section#formulario {
  background-color: white;
  margin-bottom: 5rem;
}

section#formulario header h2 {
  color: rgb(255, 170, 91);
  font-size: 2rem;
  font-weight: 550;
  max-width: 70%;
  padding: 1rem;
}

section#formulario form ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

section#formulario form ul li fieldset {
  border: none;
}

section#formulario form ul li {
  flex-basis: 50%;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}

section#formulario form ul li#comentarios {
  flex-basis: 100%;
}

section#formulario form ul li input {
  background-color: rgb(255, 170, 91);
  width: 100%;
  padding: 0.5rem 1rem;
}

section#formulario form ul li textarea {
  background-color: rgb(255, 170, 91);
  width: 100%;
  padding: 0.5rem 1rem;
}

section#formulario form ul li .checkbox {
  display: initial;
  width: initial;
}

section#formulario form button {
  color: white;
  background: black;
  margin: 0.5rem 1rem 2rem 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
}

@media (min-width: 1000px) {
  main section#descripcion {
    columns: 2;
  }

  main section#descripcion p {
    font-size: 2rem;
    padding: 2rem;
  }

  article li p {
    font-size: 1.8rem;
  }

  section#opciones-compra ul {
    display: flex;
  }

  section#opciones-compra ul article li h2 {
    font-size: 4rem;
  }
}
