<template>
  <!-- Creamos componente para el footer con HTML directo con interpolacion de variables -->
  <div>
    <p>{{ text }}</p>
  </div>
</template>

<script>
/* Configuramos nombre para exportar componente */
export default {
  name: "footercustom",
  /* Declaramos variables a usar en este componente */
  data() {
    return {
      text: "Félix Villar - Hack a Boss - Junio 2020 (C)"
    };
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de este componente */
p {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
