<template>
  <!-- Creamos componente para los artistas con HTML directo y con interpolacion de variables,  -->
  <div>
    <ul>
      <li v-for="(artist, index) in artists" :key="artist.id">
        <div id="containerPhoto">
          <img id="photo" :src="images[index]" />
        </div>
        <p>
          {{ index + 1 }}.
          <a :href="artist.url">{{ artist.name }}</a>
        </p>
        <p>{{ artist.listeners }} oyentes</p>
        <p>MBID:{{ artist.mbid }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  /* Configuramos nombre para exportar componente */
  name: "getartists",

  /* Definimos las variables y su tipo que recibimos de la vista para trabajar en la obtencion de datos */
  props: {
    artists: Array,
    images: Array
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de este componente */
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
li {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(182, 202, 154);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(132, 214, 24);
  font-size: 2rem;
  font-family: "Turret Road";
}
#containerPhoto {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
}
#photo {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 10%;
}
</style>
