<template>
  <!-- Creamos componente para laas canciones con HTML directo y con interpolacion de variables,  -->
  <div>
    <ul>
      <li v-for="(track, index) in tracks" :key="track.id">
        <p class="play">
          <a :href="track.url">
            <img src="../assets/play.png" alt="boton play" />
          </a>
        </p>
        <p class="track">
          #{{ index + 1 }}
          <a :href="track.url">{{ track.name }}</a>
        </p>
        <p class="artist">
          <a :href="track.artist.url">{{ track.artist.name }}</a>
        </p>

        <p class="duration">Duracion:{{ track.duration }}</p>
        <p class="listeners">Oyentes:{{ track.listeners }}</p>
        <p class="mbid">MBID: {{ track.mbid }}</p>
        <button class="good" @click="goodEvent">
          <img src="../assets/good.png" alt="imagen pulgar arriba" />
        </button>
        <button class="bad" @click="badEvent">
          <img src="../assets/bad.png" alt="imagen pulgar abajo" />
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
/* Configuramos nombre para exportar componente */
export default {
  name: "gettracks",
  /* Definimos las variables y su tipo que recibimos de la vista para trabajar en la obtencion de datos */
  props: {
    tracks: Array
  },
  /* Creaos metodos para lanzar eventos cuando el usuario pulsa algun boton al que tiene que responder una funcion declarada en la vista padre */
  methods: {
    goodEvent() {
      this.$emit("good");
    },
    badEvent() {
      this.$emit("bad");
    }
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de este componente */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  color: rgb(197, 224, 161);
}
li {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr 0.8fr 0.8fr 1.5fr 0.5fr 0.5fr;
  justify-items: left;
}
.track {
  font-size: 1.5rem;
}
.track a {
  text-decoration: none;
  color: rgb(132, 214, 24);
  font-size: 1.5rem;
}
.artist a {
  text-decoration: none;
  color: rgb(169, 221, 101);
  font-size: 1.2rem;
}
.play a {
  font-size: 2rem;
  text-decoration: none;
}
.play a img {
  width: 25px;
  height: 25px;
}
.good {
  justify-self: right;
}
.good img {
  width: 25px;
  height: 25px;
}
.bad img {
  width: 25px;
  height: 25px;
}
button {
  border: none;
  background: rgba(255, 255, 255, 0);
}
</style>
