<template>
  <!-- Creamos componente para los tags con HTML directo y con interpolacion de variables,  -->
  <div class="gettags">
    <ul class="taglist">
      <li class="tag" v-for="(tag, index) in tags" :key="tag.id">
        <a :href="tag.url">
          <h2>{{ index + 1 }} #{{ tag.name }} ▽</h2>
        </a>
        <div class="details">
          <p>taggings: {{ tag.taggings }}</p>
          <p>reach: {{ tag.reach }}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
/* Configuramos nombre para exportar componente */
export default {
  name: "gettags",
  /* Definimos las variables y su tipo que recibimos de la vista para trabajar en la obtencion de datos */
  props: {
    tags: Array
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de este componente */

.taglist {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: left;
}
.tag {
  margin: 1rem;
  height: 3rem;
  font-weight: 700;
  overflow: hidden;
}
.gettags > h2 {
  color: rgb(182, 202, 154);
  font-size: 2rem;
}
.tag p {
  font-size: 1rem;
  color: rgb(182, 202, 154);
}
.tag:hover {
  font-size: 1.5rem;
  height: 12rem;
  overflow: visible;
}

a {
  text-decoration: none;
  color: rgb(120, 180, 40);
}
</style>
