<template>
  <!-- Creamos componente para el menu principal con HTML directo. Hacemos que los enlaces sean dinamicos y apunten al nombre y no a la ruta  -->
  <div>
    <div id="nav">
      <router-link :to="{ name: 'Home' }">Home</router-link>
      <router-link :to="{ name: 'TopArtists' }">TopArtists</router-link>
      <router-link :to="{ name: 'TopTracks' }">TopTracks</router-link>
      <router-link :to="{ name: 'About' }">About</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "menucustom"
};
</script>

<style scoped>
/* Definimos el CSS propio de este componente */
#nav {
  padding: 30px;
}

#nav a {
  font-weight: 700;
  color: rgb(222, 245, 207);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 3rem;
}

#nav a.router-link-exact-active {
  color: rgb(132, 214, 24);
  font-weight: 700;
}
</style>
