<template>
  <!-- Creamos componente para los titulos con HTML con interpolacion de variables,  -->
  <div>
    <h1>{{ title }}</h1>
    <h2>{{description}}</h2>
  </div>
</template>

<script>
/* Configuramos nombre para exportar componente */
export default {
  name: "titulo",
  /* Definimos las variables y su tipo que recibimos de la vista para trabajar en la obtencion de datos */
  props: {
    title: String,
    description: String
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de este componente */

h1 {
  font-size: 3rem;
}
h2 {
  color: rgb(182, 202, 154);
  font-size: 2rem;
  margin-bottom: 3rem;
}
</style>