<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="About" description="Pagina de About" />
    <div class="about">
      <menucustom></menucustom>
      <div id="datos">
        <h3>{{ title }}</h3>
        <img src="../assets/avatarFV.png" alt="foto del autor" />
        <p v-html="description"></p>
      </div>
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
export default {
  name: "About",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      title: "¿Que quién hizo esta página? ",
      description:
        "Esta página fue realizada por <a href='https://www.linkedin.com/in/felixvillardiaz/'>Félix Villar</a> <br/> Para su realización se utilizaron las librerias <a href='https://github.com/axios/axios'>AXIOS</a>, <a href='https://sweetalert2.github.io/'>SweetAlert</a>, <a href='https://github.com/troxler/vue-headful'>Vue-Headful</a> y <a href='https://github.com/orgordin/vuejs-avataaars'>Avataaars</a>."
    };
  },
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style scoped>
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
img {
  height: 150px;
  width: 150px;
}
p >>> a {
  color: var(--letraAzulOscuro);
}
</style>
