<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="AddClients" description="Pagina de añadir clientes" />
    <div class="addclient">
      <menucustom></menucustom>
      <h4 v-show="required">Fijate que lo hayas cubierto todo</h4>
      <addnewclient :newClient="newClient" v-on:nuevocliente="addClients"></addnewclient>
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import addnewclient from "@/components/AddNewClient.vue";
export default {
  name: "AddClient",
  components: {
    menucustom,
    footercustom,
    addnewclient
  },
  data() {
    return {
      newClient: {},
      correctData: false,
      required: false
    };
  },
  methods: {
    validatingData(data) {
      if (!data.nombre || !data.apellido || !data.ciudad || !data.empresa) {
        this.correctData = false;
        this.required = true;
      } else {
        this.correctData = true;
        this.required = false;
      }
    },
    addClients(data) {
      this.validatingData(data);
      if (this.correctData === true) {
        const self = this;
        axios
          .post("http://localhost:3050/clientes/add", {
            nombre: data.nombre,
            apellido: data.apellido,
            ciudad: data.ciudad,
            empresa: data.empresa
          })
          .then(function(response) {
            Swal.fire({
              title: "USUARIO CREADO",
              text: "Se ha creado correctamente un nuevo usuario.",
              confirmButtonText: "ACEPTAR"
            });
            self.emptyFields();
            console.log(response);
          })
          .catch(function(error) {
            console.error(error);
          });
      } else {
        Swal.fire({
          title: "DATOS ERRONEOS",
          text: "Has dejado algún campo en blanco.",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    emptyFields() {
      this.newClient = {};
    }
  }
};
</script>

<style scoped>
.addclient {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
</style>
