<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Clientes" description="Pagina de Clientes" />
    <div class="clientes">
      <menucustom></menucustom>
      <!-- <listardebbdd :listado="clientes"></listardebbdd> -->
      <clientslist
        :clientes="clientes"
        v-on:editar="showEditText"
        v-on:borrar="deleteClient"
        v-show="!seemodal"
      ></clientslist>

      <!-- MODAL PARA EDITAR CLIENTES -->
      <div v-show="seemodal" class="modal">
        <div class="modalBox">
          <h3>Editar datos cliente</h3>
          <div id="datos">
            <input
              type="text"
              name="nombre"
              id="nombre"
              v-model="newClient.nombre"
              placeholder="nombre"
            />
            <br />
            <br />

            <input
              type="text"
              name="apellido"
              id="apellido"
              v-model="newClient.apellido"
              placeholder="apellido"
            />
            <br />
            <br />

            <input
              type="text"
              name="ciudad"
              id="ciudad"
              v-model="newClient.ciudad"
              placeholder="ciudad"
            />
            <br />
            <br />

            <input
              type="text"
              name="empresa"
              id="empresa"
              v-model="newClient.empresa"
              placeholder="empresa"
            />
            <br />
            <br />
          </div>
          <button @click="editClient()">ACEPTAR</button>
        </div>
      </div>
      <!-- /MODAL PARA EDITAR CLIENTES -->

      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import clientslist from "@/components/ClientsList.vue";
/* import listardebbdd from "@/components/ListardeBBDD.vue"; */
export default {
  name: "Clientes",
  data() {
    return {
      //ARRAY DE LOS CLIENTES DE LA BASE DE DATOS
      clientes: [],
      id: null,
      newClient: {},
      seemodal: false
    };
  },
  components: {
    menucustom,
    footercustom,
    clientslist
    /* listardebbdd, */
  },
  methods: {
    showClients() {
      const self = this;
      axios
        .get("http://localhost:3050/clientes")
        .then(function(response) {
          console.log(response);
          self.clientes = response.data;
        })
        .catch(function(error) {
          console.error(error);
        });
    },
    openModal() {
      this.seemodal = true;
    },
    closeModal() {
      this.seemodal = false;
    },
    //FUNCION PARA MOSTRAR DATOS ACTUALES EN INPUTS MODIFICACION
    showEditText(data) {
      this.openModal();
      this.id = data.id;
      this.newClient.nombre = data.nombre;
      this.newClient.apellido = data.apellido;
      this.newClient.ciudad = data.ciudad;
      this.newClient.empresa = data.empresa;
    },

    //FUNCION PARA ACTUALIZAR UN CLIENTE
    editClient() {
      this.closeModal();
      const self = this;
      axios
        .put("http://localhost:3050/clientes/update/" + self.id, {
          id: self.id,
          nombre: self.newClient.nombre,
          apellido: self.newClient.apellido,
          ciudad: self.newClient.ciudad,
          empresa: self.newClient.empresa
        })
        //SI SALE BIEN
        .then(function(response) {
          Swal.fire({
            title: "ACTUALIZADO/A",
            text: "Cliente/a actualizado/a correctamente",
            confirmButtonText: "ACEPTAR"
          }).then(result => location.reload());
          console.log(response);
        })
        //SI SALE MAL
        .catch(function(error) {
          console.error(error);
        });
    },
    deleteClient(data) {
      this.id = data;
      axios
        .delete("http://localhost:3050/clientes/del/" + this.id)
        .then(function(response) {
          Swal.fire({
            title: "BORRADO/A",
            text: "Cliente/a borrado/a correctamente",
            confirmButtonText: "ACEPTAR"
          }).then(result => location.reload());
          console.log(response);
        })
        .catch(function(error) {
          console.error(error);
        });
    }
  },
  created() {
    this.showClients();
  }
};
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.modalBox {
  background: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
</style>
