<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Error" description="Pagina de Error" />

    <div class="error">
      <menucustom></menucustom>
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
/* Configuramos nombre para exportar vista */
export default {
  name: "Error",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      title: "Error 404",
      description: "Pagina no encontrada"
    };
  },
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de esta vista */
h1 {
  color: var(--letraAzulOscuro);
  font-size: 3rem;
}

h2 {
  color: var(--letraAzulOscuro);
}
</style>
