<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Login" description="Pagina de Login" />
    <div class="login">
      <div class="saludo">
        <h1>HacKmazon</h1>
        <h2>Tu e-market de confianza</h2>
      </div>
      <div class="datalogin">
        <p>Identificate para entrar en la página</p>
        <input type="text" placeholder="Escribe tu email" v-model="email" />
        <br />
        <br />
        <input type="password" placeholder="Escribe tu contraseña" v-model="password" />
        <br />
        <br />
        <button @click="login()">SIGN IN</button>
        <br />
      </div>
      <div class="registerlink">
        <h3>
          ¿Todavía no tienes cuenta?
          <br />
          <router-link :to="{ name: 'Register' }">Regístrate aqui</router-link>
        </h3>
      </div>

      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import footercustom from "@/components/FooterCustom.vue";
import { loginUser } from "../api/utils";
import Swal from "sweetalert2";

export default {
  name: "Login",
  components: {
    footercustom
  },
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    async login() {
      try {
        //INTENTO HACE LOGIN
        await loginUser(this.email, this.password);
        //SI HAY LOGIN, QUE ME LLEVE AL HOME
        this.$router.push("/productos");
      } catch (err) {
        Swal.fire({
          title: "DATOS INCORRECTOS",
          text: "¿Te has registrado ya?",
          confirmButtonText: "ACEPTAR"
        });
        console.log(err, "Datos incorrectos");
      }
    }
  }
};
</script>

<style scoped>
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
h1 {
  color: var(--letraAzulOscuro);
}

a {
  color: var(--letraAzulOscuro);
}

@media (min-width: 500px) {
  h1 {
    color: var(--letraAzulOscuro);
    font-size: 3rem;
  }
}

@media (min-width: 720px) {
  h1 {
    color: var(--letraAzulOscuro);
    font-size: 5rem;
  }
}
</style>
