<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Productos" description="Pagina de Productos" />
    <div class="productos">
      <menucustom></menucustom>
      <div class="buscar">
        <div id="general" v-show="!seeIdSearch">
        <label for="search">Filtra </label>
        <input
          type="text"
          v-model="search"
          name="search"
          id="search"
          placeholder="Por cualquier campo"
        />
        </div>
        <br>
        
        <div id="porid" v-show="!seeIdSearch">
        <label for="idSearch">Busca </label>
        <input
          type="text"
          v-model="idSearch"
          name="idSearch"
          id="idSearch"
          placeholder="Por ID"
        />
        <button @click="searchId()">Buscar</button>
        </div>
        <div id="resultadoporid">
        <div class:=idSearch v-show="seeIdSearch">
          <p>{{ producto.nombre }}</p>
          <img :src="producto.img" alt="foto producto" />
          <p>{{ producto.descripcion }}</p>
          <p
            :class="{
              green: producto.estado === 'Disponible',
              red: producto.estado === 'No disponible',
            }" class="cantidad"
          >
            {{ producto.estado }}
          </p>
          <p class="cantidad" v-show="producto.estado !== 'No disponible'">
            Unidades {{ producto.stock }}
          </p>
          <p>{{ producto.precio }},00€</p>
          <button @click="volver()">Volver</button>
          <button @click="comprar">Comprar</button>
          </div>
      </div>
      </div>
      <!-- <listardebbdd :listado="productos"></listardebbdd> -->
      <productlist :productos="filteredProductos" v-show="!seeIdSearch" v-on:comprar="comprar()"></productlist>
      <footercustom id="foot"></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from 'sweetalert2'
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productlist from "@/components/ProductList.vue";
/* import listardebbdd from "@/components/ListardeBBDD.vue"; */
export default {
  name: "Productos",
  data() {
    return {
      //ARRAY DE LOS CLIENTES DE LA BASE DE DATOS
      productos: [],
      producto:[],
      search: "",
      idSearch:"",
      seeIdSearch:false,
    };
  },
  components: {
    menucustom,
    footercustom,
    productlist,
    /* listardebbdd, */
  },
  methods: {
    showProducts() {
      const self = this;
      axios
        .get("http://localhost:3050/productos")
        .then(function(response) {
          console.log(response);
          self.productos = response.data;
        })
        .catch(function(error) {
          console.error(error);
        });
    },
    searchId(){
      const self = this;
      const id=self.idSearch;
      if(id>self.productos.length){
        Swal.fire({
            title: "NO EXISTE",
            text: "El producto solicitado no existe",
            confirmButtonText: "ACEPTAR"
          });
      } else{
        axios
          .get("http://localhost:3050/productos/" + id)
          .then(function(response) {
            console.log(response);
            self.producto = response.data[0];
            self.seeIdSearch=true;
          })
          .catch(function(error) {
            console.error(error);
          });
      }
    },
    comprar(){
      Swal.fire({
            title: "GRACIAS POR TU COMPRA",
            text: "Te enviaremos un correo con tu pedido",
            confirmButtonText: "ACEPTAR"
          });
    },
    volver(){
      this.seeIdSearch=false;
      this.idSearch="";
    }
  },
  computed: {
    filteredProductos() {
      if (!this.search) {
        return this.productos;
      }
      return this.productos.filter(
        (producto) =>
          producto.nombre.toLowerCase().includes(this.search.toLowerCase()) ||
          producto.descripcion
            .toLowerCase()
            .includes(this.search.toLowerCase()) ||
          producto.estado.toLowerCase().includes(this.search.toLowerCase()) ||
          producto.precio.toString().includes(this.search.toString())
      );
    },
  },
  created() {
    this.showProducts();
  },
};
</script>

<style scoped>
.red {
  color: rgb(245, 119, 119);
  font-size: 0.8rem;
}
.green {
  color: rgb(88, 173, 88);
  font-size: 0.8rem;
}
.productos{
  height: 100vh;
  display:flex;
  flex-direction: column;

}

img {
  max-width: 200px;
  max-height: 200px;
}

#general{
  text-align: center;
}

#porid{
  text-align: center;  
}

#resultadoporid{
margin-bottom: 2rem;
}

#resultadoporid button{
  margin: 0 1rem;
}

#resultadoporid p{
  margin: 0.4rem ;
}

.cantidad{
  width: 40%;
  display: inline-block;
}

input{
  margin:0 .2rem;
}


</style>
