<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Register" description="Pagina de Registro" />
    <div class="register">
      <menucustom></menucustom>
      <div class="register">
        <h2>Tus datos de registro</h2>
        <input type="text" placeholder="Escribe tu email" v-model="email" />
        <br />
        <br />
        <input type="password" placeholder="Escribe tu contraseña" v-model="password" />
        <br />
        <br />
        <input type="password" placeholder="Confirma tu contraseña" v-model="confirmPassword" />
        <br />
        <br />
        <router-link :to="{ name: 'Login' }">SIGN IN</router-link>
        <button @click="addUser()">REGISTRAR</button>
      </div>
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
export default {
  name: "Register",
  components: {
    menucustom,
    footercustom
  },
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: "",
      correctData: false
    };
  },
  methods: {
    validatingData() {
      if (
        this.email === "" ||
        this.password === "" ||
        this.confirmPassword === ""
      ) {
        this.correctData = false;
      } else {
        this.correctData = true;
      }
    },
    addUser() {
      const self = this;
      self.validatingData();
      if (self.correctData === true) {
        if (self.password !== self.confirmPassword) {
          return Swal.fire({
            title: "ERROR DE CONTRASEÑA",
            text: "Las contraseñas no coinciden",
            confirmButtonText: "ACEPTAR"
          });
        } else {
          axios
            .post("http://localhost:3050/usuarios/add", {
              email: self.email,
              password: self.password,
              admin: 0
            })
            .then(function(response) {
              Swal.fire({
                title: "USUARIO AÑADIDO",
                text:
                  "Has creado un nuevo usuario. Haz login para acceder a la página",
                confirmButtonText: "ACEPTAR"
              });
              self.emptyFields();
              self.$router.push("/");
            })
            .catch(function(error) {
              Swal.fire({
                title: "YA REGISTRADO",
                text: "Este email ya está registrado",
                confirmButtonText: "ACEPTAR"
              });
              console.log(error);
            });
        }
      } else {
        Swal.fire({
          title: "DATOS ERRONEOS",
          text: "Has dejado algún campo en blanco.",
          confirmButtonText: "ACEPTAR"
        });
      }
    },

    emptyFields() {
      this.email = "";
      this.password = "";
      this.confirmPassword = "";
    }
  }
};
</script>

<style scoped>
.register {
  height: 70vh;
}
a {
  color: var(--letraAzulOscuro);
  margin: 0 2rem 0 0;
  font-weight: bold;
  font-size: 0.8rem;
}
</style>
