<template>
  <div class="about">
    <!-- Creamos los elementos propios de este componente y usamos los que hayamos 
    importado para usar-->
    <h1>Este es el culpable de este página</h1>
    <picture>
      <img src="../assets/FelixVillar.jpg" alt="Foto del autor" />
    </picture>
    <p>
      Si aún sigues queriendo más informacion sobre mi, puedes encontrarme en
      <a
        href="https://www.linkedin.com/in/felixvillardiaz"
      >mi perfil</a> de
      <a href="https://www.linkedin.com">Linkedin</a>.
    </p>
    <p>
      Página realizada con la
      <a href="https://rickandmortyapi.com/api">API de Rick y Morty</a> usando
      <a href="https://github.com/axios/axios">axios</a>.
    </p>
    <FooterCustom></FooterCustom>
  </div>
</template>

<script>
/* Importamos el componente que hemos creado aparte y que queremos usar */
import FooterCustom from "@/components/FooterCustom.vue";

export default {
  /* Damos nombre al componente para su exportacion */
  name: "About",
  /* Registramos los componentes importados */
  components: {
    FooterCustom
  },
  data() {
    return {};
  }
};
</script>



<style scoped>
/* Definimos el css a usar en los elementos propios de este componente */
.about {
  background-color: #12b0c9;
  min-height: 100vh;
}
h1 {
  color: #c8dd5d;
  padding-top: 1.5rem;
}
p {
  color: #c8dd5d;
  font-size: 1.4rem;
}
img {
  max-width: 18rem;
  max-height: 18rem;
  border-radius: 50%;
}
</style>