<template>
  <div class="home">
    <!-- Logo cabecera -->
    <picture id="logo">
      <img :src="urlLogo" alt />
    </picture>

    <!-- BUSCADOR -->
    <div id="search">
      <div id="busquedageneral">
        <label for="bySearch">Filtra tu personaje por...</label>
        <!-- Usamos v-model para asociar lo que metemos en el input con la variable search -->
        <input
          v-model="search"
          id="search"
          name="bySearch"
          type="search"
          placeholder="Id, nombre, estado o genero"
        />
      </div>
      <div id="busquedaid">
        <label for="bySearchId">Busca por id...</label>
        <input
          v-model="id"
          type="search"
          name="bySearchId"
          placeholder="Introduce el id de tu personaje"
        />
        <button
          v-show="seeCharCards"
          @click="searchChar(id), seeSearchId=!seeSearchId, seeCharCards=!seeCharCards"
        >BUSCAR POR ID</button>
        <button
          v-show="seeSearchId"
          @click="seeSearchId=!seeSearchId, seeCharCards=!seeCharCards"
        >VOLVER</button>
      </div>
    </div>
    <!-- Resultado de la busqueda por id -->
    <CharIdCard v-show="seeSearchId" :char="char"></CharIdCard>
    <!-- Resultado de la consulta general a la api -->
    <CharCard v-show="seeCharCards" :chars="filteredChars"></CharCard>
    <!-- Footer personalizado introducido como componente -->
    <FooterCustom></FooterCustom>
  </div>
</template>

<script>
/* Importamos los componentes que queremos utilizar en esta vista */
// @ is an alias to /src
import CharCard from "@/components/CharCard.vue";
import CharIdCard from "@/components/CharIdCard.vue";
import FooterCustom from "@/components/FooterCustom";
/* IMportamos la funcion de consulta a la API */
import api from "@/api/api.js";

export default {
  /* Damos nombre a este componente para su exportacion */
  name: "Home",
  /* Registramos los modulos importados */
  components: {
    CharCard,
    CharIdCard,
    FooterCustom
  },
  /* Definimos las variables que usaremos en esta vista */
  data() {
    return {
      id: null,
      char: [],
      chars: [],
      search: "",
      seeSearchId: false,
      seeCharCards: true,
      urlLogo:
        "https://partner.redbubble.com/partnership-portal/client/eab637076b22c782edf0015a0ec3c686.png"
    };
  },
  //Creamos la seccion methods que no permitirá crear funciones y metodos
  methods: {
    searchChar(id) {
      console.log(
        api.getChar(id).then(response => (this.char = response.data))
      );
    }
  },
  /* Definimos las funciones computadas */
  computed: {
    filteredChars() {
      //Si search está vacio
      if (!this.search) {
        return this.chars;
      }
      //Si search tiene algo
      return this.chars.filter(
        char =>
          char.name.toLowerCase().includes(this.search.toLowerCase()) ||
          char.status.toLowerCase().includes(this.search.toLowerCase()) ||
          char.gender.toLowerCase().includes(this.search.toLowerCase()) ||
          char.id.toString() === this.search.toString()
      );
    }
  },
  /* Utilizamos el hook created para cargar la informacion proveniente de la API */
  created() {
    api.getAll().then(response => (this.chars = response.data.results));
  }
};
</script>

<style scoped>
/* Definimos el CSS que afecta únicamente a los elementos de esta vista */
.home {
  background-color: #c8dd5d;
  min-height: 100vh;
}
#logo img {
  margin: 0 auto;
  padding: 1rem;
  max-width: 18rem;
}
#search * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
</style>
