<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="About" description="Pagina de About" />
    <!-- Configuramos la vista de About con componentes importados, html directo y html a través de directiva v-html -->
    <div class="about">
      <menucustom />
      <h1>{{ title }}</h1>
      <img src="../assets/FelixVillar.jpg" alt="foto del autor" />
      <h2 v-html="description"></h2>
      <footercustom id="foot" />
    </div>
  </div>
</template>

<script>
/* Importamos componentes */
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
/* Configuramos nombre para exportar vista */
export default {
  name: "About",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      title: "¿Que quién hizo esta página? ",
      description:
        "Esta página fue realizada por <a href='www.linkedin.com/in/felixvillardiaz/'>Félix Villar</a> <br/> Para su realización se utilizó la API de <a href='https://www.last.fm/home'>Lastfm</a> y las librerias <a href='https://github.com/axios/axios'>AXIOS</a>, <a href='https://sweetalert2.github.io/'>SweetAlert</a> y <a href='https://github.com/troxler/vue-headful'>Vue-Headful</a>"
    };
  },
  /* Registramos los componentes importados */
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de esta vista */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  color: rgb(182, 202, 154);
  font-size: 2rem;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}
.about >>> a {
  text-decoration: none;
  color: rgb(132, 214, 24);
}
</style>
