<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Error" description="Pagina de Error" />
    <!-- Configuramos la vista de Error con componentes importados y html con interpolacion de variables -->
    <div class="error">
      <menucustom />
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
      <footercustom />
    </div>
  </div>
</template>

<script>
/* Importamos componentes */
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
/* Configuramos nombre para exportar vista */
export default {
  name: "Error",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      title: "Error 404",
      description: "Pagina no encontrada"
    };
  },
  /* Registramos los componentes importados */
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de esta vista */
.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: 10rem;
}
h2 {
  color: rgb(182, 202, 154);
  font-size: 6rem;
}
</style>
