<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Home" description="Pagina de Home" />
    <!-- Configuramos la vista de Home con componentes importados -->
    <div class="toptags">
      <menucustom />
      <titulo :title="title" :description="description" />
      <cargando v-if="tags.length < 50" />
      <gettags :tags="tags"></gettags>
      <footercustom />
    </div>
  </div>
</template>

<script>
/* Importamos componentes */
import api from "@/api/index.js";
import gettags from "@/components/GetTags.vue";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import cargando from "@/components/Cargando.vue";
import titulo from "@/components/Titulo.vue";
/* Configuramos nombre para exportar vista */
export default {
  name: "Home",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      tags: [],
      title: "#TOP TAGS#",
      description:
        "Aquí tienes los # más top y más fresh del mercado actual. ¿Cual te apetece hoy?"
    };
  },
  /* Registramos los componentes importados */
  components: {
    gettags,
    menucustom,
    footercustom,
    cargando,
    titulo
  },
  /* Creamos el hook created y en el realizaos la llamada a la api para obtener los datos de los tags */
  created() {
    api.getTopTags().then(response => (this.tags = response.data.tags.tag));
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de esta vista */
</style>