<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Top Artists" description="Pagina de top artists" />
    <!-- Configuramos la vista de TopArtists con componentes importados y HTML directo para la busqueda -->
    <div class="topartists">
      <menucustom />
      <titulo :title="title" :description="description" />
      <!-- Creamos buscador por filtrado-->
      <div id="busqueda">
        <label for="bySearch">Busca tu artista...</label>
        <!-- Usamos v-model para asociar lo que metemos en el input con la variable search -->
        <input v-model="search" id="search" name="bySearch" type="search" placeholder="Nombre" />
      </div>
      <cargando v-if="artists.length < 50" />
      <getartists :artists="filteredArtists" :images="filteredImages"></getartists>
      <footercustom />
    </div>
  </div>
</template>

<script>
/* Importamos componentes */
import api from "@/api/index.js";
import getartists from "@/components/GetArtists.vue";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import cargando from "@/components/Cargando.vue";
import titulo from "@/components/Titulo.vue";
/* Configuramos nombre para exportar vista */
export default {
  name: "TopArtists",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      search: "",
      artists: [],
      title: "TOP ARTISTS",
      description: "¿Artistas favoritos? Encuentralos en nuestra lista...",
      images: [
        "https://cutt.ly/nyNuVH8",
        "https://ep01.epimg.net/elpais/imagenes/2017/05/17/icon/1495017818_647155_1495125183_noticia_normal_recorte1.jpg",
        "https://www.lavanguardia.com/r/GODO/LV/p5/WebSite/2018/11/06/Recortada/img_djuarez_20181106-090647_imagenes_lv_otras_fuentes_queen-kINE-U452775467452WqC-992x558@LaVanguardia-Web.jpg",
        "https://cutt.ly/gyNu4Oz",
        "https://www.rockandrollarmy.com/magazine/wp-content/uploads/2020/03/0709-Atlanta-stones2020-blk-social-1200x1200-1-700x700-696x696.jpg",
        "https://cutt.ly/eyNiwXI",
        "https://cutt.ly/RyNirxi",
        "https://cutt.ly/fyNitFW",
        "https://cutt.ly/ryNiy8G",
        "https://cutt.ly/fyNio2t",
        "https://cutt.ly/6yNisvC",
        "https://cutt.ly/7yNify2",
        "https://cutt.ly/kyNigcC",
        "https://cutt.ly/qyNihUk",
        "https://cutt.ly/LyNijvO",
        "https://cutt.ly/IyNilk6"
      ],
      images2: Array(1000).fill(
        "https://www.adl-logistica.org/wp-content/uploads/2019/07/imagen-perfil-sin-foto-300x300.png"
      )
    };
  },
  /* Registramos los componentes importados */
  components: {
    getartists,
    menucustom,
    footercustom,
    cargando,
    titulo
  },
  /* Creamos las computadas que observan en todo momento si hay algún cambio en search */
  computed: {
    filteredArtists() {
      //Si search está vacio mostramos todos los artistas
      if (!this.search) {
        return this.artists;
      }
      //Si search tiene algo mostramos los artistas filtrados por coincidencia con el nombre
      return this.artists.filter(artist =>
        artist.name.toLowerCase().includes(this.search.toLowerCase())
      );
    },
    filteredImages() {
      //Si search está vacio mandamos el array montado de ejemplo con pocas fotos
      if (!this.search) {
        return this.images;
      }
      //Si search tiene algo enviamos array completado imagen sin foto
      return this.images2;
    }
  },
  /* Creamos el hook created y en el realizaos la llamada a la api para obtener los datos de los artistas*/
  created() {
    api
      .getArtist()
      .then(response => (this.artists = response.data.topartists.artist));
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de esta vista */
</style>
