<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="TopTracks" description="Pagina de top tracks" />
    <!-- Configuramos la vista de TopTracks con componentes importados -->
    <div class="toptracks">
      <menucustom />
      <titulo :title="title" :description="description" />
      <cargando v-if="tracks.length < 50" />
      <gettracks :tracks="tracks" v-on:good="good()" v-on:bad="bad()"></gettracks>
      <footercustom />
    </div>
  </div>
</template>

<script>
/* Importamos componentes, incluido Swal que nos permitirá usar la libreria SweetAlert2 para diálogos modales*/
import api from "@/api/index.js";
import gettracks from "@/components/GetTracks.vue";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import cargando from "@/components/Cargando.vue";
import titulo from "@/components/Titulo.vue";
import Swal from "sweetalert2";
/* Configuramos nombre para exportar vista */
export default {
  name: "TopTracks",
  /* Declaramos variables a usar en esta vista */
  data() {
    return {
      tracks: [],
      title: "TOP TRACKS",
      description:
        "¿Te apetece musica top? Aquí tienes los 1000 heats del momento. No te olvides de votar"
    };
  },
  /* Registramos los componentes importados */
  components: {
    gettracks,
    menucustom,
    footercustom,
    cargando,
    titulo
  },
  /* Creamos las funciones para usar los dialogos modales en las respuestas a los votos de los usuarios en las canciones  */
  methods: {
    modalMessage(title, text, confirmButtonText) {
      Swal.fire({
        title: title,
        text: text,
        confirmButtonText: confirmButtonText
      });
    },
    good() {
      this.modalMessage(
        "GENIAL",
        "Muchas gracias por tu voto. Has contribuido a que esta canción siga triunfando",
        "ACEPTAR"
      );
    },
    bad() {
      this.modalMessage(
        "OH, VAYA...",
        "Sentimos que no te haya gustado esta cancion. Sigue escuchando nuestra selección, seguro que encuentras algo de tu estilo",
        "ACEPTAR"
      );
    }
  },
  /* Creamos el hook created y en el realizaos la llamada a la api para obtener los datos de los tags */
  created() {
    api
      .getTopTracks()
      .then(response => (this.tracks = response.data.tracks.track));
  }
};
</script>

<style scoped>
/* Definimos el CSS propio de esta vista */
</style>
